/* .menu-bg .icon {
    font-family: "Handlee", cursive;
    font-size: 30px;
    font-weight: 400;
}

.menu-bg .navbar-nav .btn {
    padding-bottom: 30px;
    margin-left: 20px;
    font-family: "Handlee", cursive;
    font-size: 20px;
}

.menu-bg .icon img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.mx-auto Nav.link {
    font-size: 25px;
}

.contact a {
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid #F384D4;
    color: #222;
    font-family: "Handlee", cursive;
    transition: 0.5s;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);

}

.contact a:hover {
    background-color: #FFC9F0;
} */

nav{
    background-color: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}
nav:hover{
    box-shadow: 0px 20px 40px rgba(194, 162, 193, 0.4);

}
nav a{
    background-color: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: #FFF;
    font-size: 1.3rem;
}