footer{
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #FDFCF6;

}
.foot-left{
    display: flex;
    align-items: center;
    padding: 5px 5px;
}
.foot-left img{
    width: 49px;
    height: 49px;
    margin-right: 15px;
}
.foot-left p{
    font-family: "Handlee", cursive;
    font-size: 30px;
    padding-top: 15px;

}
.foot-right{
    text-align: center;
}
.foot-right .link{
    margin-bottom: 20px;

}
.foot-right .link a{
    padding: 10px 15px;
    background-color: #3f3b3b;
    margin-right: 30px;
    border-radius: 5px;
    font-family: "Handlee", cursive;
    font-size: 20px;
    color: #FFF;
}
.copyright{
    font-family: "Handlee", cursive;
    color: #222;
}